body {
    background: #f9fbe7;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    padding: 20px;
}
.box {
    background: #cddc39;
    color: #333;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.tit{
    padding: 20px;
    margin: 20px;
    text-align: center;
    color: chartreuse;
    background-color: green;
    border-radius: 10px;
}
.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 16px;
    margin-top: auto;
}